[Desktop Entry]
Name=Skype-Wrapper
Comment=Wrapper for Skype Internet Telephony
Exec=skype-wrapper
Icon=skype
NoDisplay=false
Terminal=false
Type=Application
Encoding=UTF-8
